.myprod-container {
    display: flex;
}

.prod-img-cont {
    width: 2000px;
    margin-right: 20PX;
}

.prod-img-cont img {
    width: 100%;
}


.prod-data .prod-head {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

.prod-keyspecs {
    font-size: 25px;
}

/* .specific-price-container{} */

.mrp,
.saleprice {
    font-size: 25px;
    margin: 15px 0px;
    padding: 0px;
}

.yousave {
    color: rgb(81, 81, 81);
    padding: 0px;
    margin: 15px 0px;
}


.prod-details-head {
    padding: 0px;
    font-size: 35px;
    margin: 0px;
    margin-top: 20px;

    color: #ffbb00;
    border-bottom: 2px solid #ffbb00;
    width: 110px;
}

.prod-details-head2 {
    padding: 0px;
    font-size: 35px;
    margin: 20px;

    color: #ffbb00;
    border-bottom: 2px solid #ffbb00;
    width: 200px;
}

.buy-cart {
    margin-left: 0px;
}


.warranty-replacement {
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    justify-content: space-evenly;
    width: 300px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0px 0px 5px 0px grey;
}

.cod,
.warranty,
.replacement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img-circle {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background-color: white;
}

.img-circle img {
    width: 30px;
    border-radius: 20px;
}


.cod,
.warranty,
.replacement p {
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    color: #ffbb00;
}

.row-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550PX;
}